In [11]:
import pandas as pd
names=["x","y","z","rho","div_u","第二不変量Q"]
df = pd.read_csv("/Users/isseyshome/Downloads/kari/parameter005685_07.txt",\
                 sep=",",header = None,names=names)
# names=["x","y","z","rho","div_u","第二不変量Q","ゴミ"]
# df = pd.read_csv("/Users/isseyshome/Documents/GitHub/Inoue_Lab/3dimensions/result_omp/parameter000095_11.txt",\
#                  sep=",",header = None,names=names)
df.head()

      x     y     z       rho     div_u    第二不変量Q
0  0.00 -10.0  0.35  1.000000  0.219091 -0.000000
1  0.05 -10.0  0.35  0.991128  0.015460 -0.000086
2  0.10 -10.0  0.35  0.991465 -0.005669 -0.000076
3  0.15 -10.0  0.35  0.991585  0.006597 -0.000033
4  0.20 -10.0  0.35  0.991463  0.000641 -0.000042

In [12]:
df = df.sort_values('rho')
df.head()

               x     y     z       rho     div_u    第二不変量Q
36295  15.964286  0.00  0.35  0.240271 -0.058628 -0.005871
35934  15.964286 -0.05  0.35  0.240273 -0.047279 -0.005346
36656  15.964286  0.05  0.35  0.240438 -0.080400 -0.006758
35573  15.964286 -0.10  0.35  0.240447 -0.046824 -0.005251
37017  15.964286  0.10  0.35  0.240784 -0.112342 -0.007920

In [13]:
#rhoが小さくなってNaNの原因になっていそうな箇所を抽出する
df_part = df.query("rho < 0.3")
len(df_part)

53

In [14]:
#最頻値の個数と最大の最頻値
display(df_part.mode().count())
display(df_part.mode().iloc[0])

x          1
y          2
z          1
rho       53
div_u     53
第二不変量Q    53
dtype: int64

x          15.964286
y          -0.400000
z           0.350000
rho         0.240271
div_u      -1.728761
第二不変量Q   -185.794542
Name: 0, dtype: float64

In [15]:
display(df_part.max())
display(df_part.min())

x         15.964286
y          0.700000
z          0.350000
rho        0.298574
div_u      1.681398
第二不変量Q     0.099957
dtype: float64

x           0.000000
y          -0.700000
z           0.350000
rho         0.240271
div_u      -1.728761
第二不変量Q   -185.794542
dtype: float64

In [16]:
#rhoの値に関係ない全体での最大・最小値
display(df.max())
display(df.min())

x          36.000000
y          10.000000
z           0.350000
rho         1.224491
div_u       5.127549
第二不変量Q    128.551892
dtype: float64

x           0.000000
y         -10.000000
z           0.350000
rho         0.240271
div_u     -19.809272
第二不変量Q   -185.794542
dtype: float64