In [46]:
import pandas as pd
# names=["x","y","z","rho","div_u","第二不変量Q"] # NaNの時
names=["x","y","z","rho","div_u","第二不変量Q","dp/dt"] #通常時
df = pd.read_csv("/Users/isseyshome/Downloads/result_omp_1.4/parameter015000_19.txt",\
                 sep=",",header = None,names=names)

df.head()
df = df.sort_values('rho')

          x         y     z       rho      div_u     第二不変量Q     dp/dt
35018  0.05 -0.150000  0.95  1.003591  12.475184  40.575428 -0.000389
46208  0.00  1.403012  0.95  1.024206   9.172640  -0.000099  0.000053
35019  0.10 -0.150000  0.95  0.736224   9.062518  26.954522 -0.001404
45847  0.00  1.350759  0.95  1.014535   8.878717   0.004301 -0.000024
46569  0.00  1.461246  0.95  1.012673   8.812838  -0.010798  0.000078
48374  0.00  1.985903  0.95  1.001743   8.387258  -0.000063 -0.000002
46930  0.00  1.535365  0.95  0.998821   8.378337  -0.002864  0.000052
24187  0.00 -1.865045  0.95  1.001351   8.377111  -0.000142 -0.000002
24548  0.00 -1.745869  0.95  1.000001   8.357282  -0.000049 -0.000006
48735  0.00  2.107189  0.95  1.001244   8.355487  -0.000021  0.000009

In [28]:
df = df.sort_values('rho')
# df = df.sort_values('div_u',ascending=False)
df.head(10)

         x         y    z       rho     div_u    第二不変量Q     dp/dt
46208  0.0  1.403012  0.0  1.012650  8.834651 -0.002160  0.000070
46569  0.0  1.461246  0.0  1.007334  8.653915 -0.009406  0.000080
25992  0.0 -1.403012  0.0  1.006739  8.621079  0.003624  0.000015
26353  0.0 -1.350759  0.0  1.003729  8.510281 -0.004558 -0.000028
45847  0.0  1.350759  0.0  1.001037  8.498948  0.015245 -0.000013
46930  0.0  1.535365  0.0  0.999648  8.406483 -0.004388  0.000044
24187  0.0 -1.865045  0.0  1.001420  8.379765 -0.000051 -0.000010
25631  0.0 -1.461246  0.0  0.999181  8.379400 -0.009937  0.000039
23826  0.0 -1.985903  0.0  1.001863  8.375430 -0.000076  0.000003
48374  0.0  1.985903  0.0  1.001094  8.367058 -0.000054  0.000001

In [3]:
#rhoが小さくなってNaNの原因になっていそうな箇所を抽出する
df_part = df.query("rho < 0.3")
len(df_part)

7

In [4]:
#最頻値の個数と最大の最頻値
display(df_part.mode().count())
display(df_part.mode().iloc[0])

x         1
y         7
z         1
rho       7
div_u     7
第二不変量Q    7
dtype: int64

x          0.000000
y         -0.700000
z          0.500000
rho        0.028223
div_u    -46.631791
第二不変量Q    -1.152550
Name: 0, dtype: float64

In [5]:
display(df_part.max())
display(df_part.min())

x          0.000000
y          0.900000
z          0.500000
rho        0.295822
div_u    -16.038390
第二不変量Q     0.823819
dtype: float64

x          0.000000
y         -0.700000
z          0.500000
rho        0.028223
div_u    -46.631791
第二不変量Q    -1.152550
dtype: float64

In [6]:
#rhoの値に関係ない全体での最大・最小値
display(df.max())
display(df.min())

x         36.000000
y         10.000000
z          0.500000
rho        1.752460
div_u     10.527409
第二不変量Q    32.607059
dtype: float64

x          0.000000
y        -10.000000
z          0.500000
rho        0.028223
div_u    -46.631791
第二不変量Q   -31.837822
dtype: float64