In [10]:
import pandas as pd
names=["x","y","z","rho","div_u","第二不変量Q","ゴミ"]
df = pd.read_csv("/Users/isseyshome/Documents/GitHub/Inoue_Lab/3dimensions/result_omp/parameter000095_11.txt",\
                 sep=",",header = None,names=names)
df.head()

      x     y     z  rho         div_u  第二不変量Q  ゴミ
0  0.00 -10.0  0.55  1.0  1.485000e-13    -0.0 NaN
1  0.05 -10.0  0.55  1.0  4.910000e-14    -0.0 NaN
2  0.10 -10.0  0.55  1.0  2.600000e-15    -0.0 NaN
3  0.15 -10.0  0.55  1.0 -2.200000e-15     0.0 NaN
4  0.20 -10.0  0.55  1.0  1.000000e-15    -0.0 NaN

In [14]:
df = df.sort_values('rho')
df.head()

         x     y     z       rho      div_u      第二不変量Q  ゴミ
38627  0.0  0.35  0.55  0.314692  44.763304  639.104830 NaN
37905  0.0  0.25  0.55  0.314695  44.763235  639.089838 NaN
38266  0.0  0.30  0.55  0.314696  44.762646  639.125404 NaN
35017  0.0 -0.15  0.55  0.314697  44.762829  639.080664 NaN
37183  0.0  0.15  0.55  0.314698  44.762638  639.089261 NaN

In [16]:
df_part = df.query("rho < 0.4")
len(df_part)

31

In [22]:
#最頻値の個数と最大の最頻値
display(df_part.mode().count())
display(df_part.mode().iloc[0])

x          1
y         31
z          1
rho       31
div_u     31
第二不変量Q    31
ゴミ         0
dtype: int64

x           0.000000
y          -0.750000
z           0.550000
rho         0.314692
div_u      35.341738
第二不変量Q    508.099292
ゴミ               NaN
Name: 0, dtype: float64

In [27]:
display(df_part.max())
display(df_part.min())

x           0.000000
y           0.750000
z           0.550000
rho         0.370717
div_u      44.763304
第二不変量Q    639.125404
ゴミ               NaN
dtype: float64

x           0.000000
y          -0.750000
z           0.550000
rho         0.314692
div_u      35.341738
第二不変量Q    508.099292
ゴミ               NaN
dtype: float64

In [23]:
import pandas as pd
names=["x","y","z","rho","div_u","第二不変量Q","dp"]
df = pd.read_csv("/Users/isseyshome/Downloads/result_omp/parameter000500_11.txt",\
                 sep=",",header = None,names=names)
df.head()

      x     y     z  rho  div_u  第二不変量Q            dp
0  0.00 -10.0  0.55  1.0   -0.0     0.0  4.900000e-15
1  0.05 -10.0  0.55  1.0    0.0     0.0  1.710000e-14
2  0.10 -10.0  0.55  1.0    0.0     0.0 -1.460000e-14
3  0.15 -10.0  0.55  1.0    0.0     0.0 -1.230000e-14
4  0.20 -10.0  0.55  1.0   -0.0     0.0  3.600000e-15

In [24]:
df = df.sort_values('rho')
df.head()

         x     y     z       rho     div_u        第二不変量Q         dp
29963  0.0 -0.85  0.55  0.711183  3.959533 -2.780000e-14 -11.391742
42237  0.0  0.85  0.55  0.711183  1.722376 -2.780000e-14 -11.020143
41876  0.0  0.80  0.55  0.711895  0.796352 -5.550000e-14 -12.593136
30324  0.0 -0.80  0.55  0.711895  2.108408 -5.550000e-14 -12.791652
41515  0.0  0.75  0.55  0.713004  0.303934  0.000000e+00 -13.971922

In [25]:
#最頻値の個数と最大の最頻値
display(df.mode().count())
display(df.mode().iloc[0])

x         361
y         201
z           1
rho         1
div_u       1
第二不変量Q      1
dp          1
dtype: int64

x          0.00
y        -10.00
z          0.55
rho        1.00
div_u      0.00
第二不変量Q     0.00
dp         0.00
Name: 0, dtype: float64

In [26]:
df.max()

x         36.000000
y         10.000000
z          0.550000
rho        2.032273
div_u      8.684376
第二不変量Q     7.561405
dp         2.382975
dtype: float64