In [1]:
import pandas as pd
names=["x","y","z","rho","div_u","第二不変量Q"] # NaNの時
# names=["x","y","z","rho","div_u","第二不変量Q","dp/dt"] #通常時
df = pd.read_csv("/Users/isseyshome/Paper/result_analysis/sub_square_All000032.txt",\
                 sep=",",header = None,names=names)
df.head()
df = df.sort_values('rho')

In [2]:
df = df.sort_values('rho')
# df = df.sort_values('div_u',ascending=False)
df.head(10)

          x    y         z       rho       div_u    第二不変量Q
667347  0.0  0.1  0.800265  0.043566  104.507319  8.205028
666985  0.0 -0.1  0.800265  0.043616  104.389536  8.247854
264803  0.0 -0.1 -0.800265  0.043655  104.293625  8.221611
265165  0.0  0.1 -0.800265  0.043663  104.276838  8.266041
667166  0.0  0.0  0.800265  0.043988  103.519011  7.990508
264984  0.0  0.0 -0.800265  0.044088  103.283709  8.068655
667528  0.0  0.2  0.800265  0.044105  103.255016  8.350220
666804  0.0 -0.2  0.800265  0.044161  103.125670  8.416264
265346  0.0  0.2 -0.800265  0.044187  103.064718  8.368757
264622  0.0 -0.2 -0.800265  0.044188  103.060037  8.318349

In [3]:
#rhoが小さくなってNaNの原因になっていそうな箇所を抽出する
df_part = df.query("rho < 0.3")
len(df_part)

26

In [8]:
df_part.head()

          x    y         z       rho       div_u    第二不変量Q
667347  0.0  0.1  0.800265  0.043566  104.507319  8.205028
666985  0.0 -0.1  0.800265  0.043616  104.389536  8.247854
264803  0.0 -0.1 -0.800265  0.043655  104.293625  8.221611
265165  0.0  0.1 -0.800265  0.043663  104.276838  8.266041
667166  0.0  0.0  0.800265  0.043988  103.519011  7.990508

In [4]:
#最頻値の個数と最大の最頻値
display(df_part.mode().count())
display(df_part.mode().iloc[0])

x          1
y         13
z          2
rho       26
div_u     26
第二不変量Q    26
dtype: int64

x          0.000000
y         -0.600000
z         -0.800265
rho        0.043566
div_u     24.415493
第二不変量Q   -19.230527
Name: 0, dtype: float64

In [5]:
display(df_part.max())
display(df_part.min())

x           0.000000
y           0.600000
z           0.800265
rho         0.190561
div_u     104.507319
第二不変量Q     15.200437
dtype: float64

x          0.000000
y         -0.600000
z         -0.800265
rho        0.043566
div_u     24.415493
第二不変量Q   -19.230527
dtype: float64

In [6]:
#rhoの値に関係ない全体での最大・最小値
display(df.max())
display(df.min())

x          36.000000
y          10.000000
z           2.500000
rho        53.719916
div_u     104.507319
第二不変量Q    219.809996
dtype: float64

x           0.000000
y         -10.000000
z          -2.500000
rho         0.043566
div_u     -50.527154
第二不変量Q   -139.148370
dtype: float64