In [1]:
import pandas as pd
names=["x","y","z","rho","div_u","Q","u"]
df = pd.read_csv("/Users/isseyshome/Paper/result_analysis/sub_square_All000032.txt",\
                 sep=",",header = None,names=names)
df.head()
df = df.sort_values('rho')

FileNotFoundError: [Errno 2] File b'/Users/isseyshome/Paper/result_analysis/sub_square_All000032.txt' does not exist: b'/Users/isseyshome/Paper/result_analysis/sub_square_All000032.txt'

In [19]:
df = df.sort_values('Q',ascending=False)
# df = df.sort_values('div_u',ascending=False)
df.head(10)

          x    y    z       rho       div_u           Q         u
466076  0.1  0.0  0.0  1.027268 -190.826017  706.336615  1.036795
466257  0.1  0.1  0.0  1.022562 -190.486674  700.106831  1.036545
465895  0.1 -0.1  0.0  1.022594 -190.493221  700.097082  1.036555
465714  0.1 -0.2  0.0  1.013275 -189.466993  673.571464  1.038976
466438  0.1  0.2  0.0  1.013313 -189.469013  673.512860  1.038992
466619  0.1  0.3  0.0  0.980456 -185.105699  616.094566  1.042721
465533  0.1 -0.3  0.0  0.980443 -185.101878  616.062861  1.042706
465352  0.1 -0.4  0.0  0.922725 -172.378408  534.410786  1.047373
466800  0.1  0.4  0.0  0.922709 -172.372571  534.397705  1.047370
466981  0.1  0.5  0.0  0.855694 -148.208064  407.508418  1.053265

In [38]:
#rhoが小さくなってNaNの原因になっていそうな箇所を抽出する
# df_part = df.query("rho < 0.3")
# df_part = df.query("Q > 100")
df_part = df.query("u < -0.1")
len(df_part)

209

In [39]:
df_part.head(20)

          x    y         z       rho     div_u         Q         u
484365  0.9  0.0  0.015965  0.954485 -5.012894  4.283990 -0.145855
447803  0.9  0.0 -0.015965  0.954482 -5.012163  4.281988 -0.145860
447622  0.9 -0.1 -0.015965  0.954461 -4.992692  4.240457 -0.145861
484546  0.9  0.1  0.015965  0.954460 -4.992373  4.240008 -0.145862
447984  0.9  0.1 -0.015965  0.954463 -4.992215  4.239847 -0.145860
484184  0.9 -0.1  0.015965  0.954465 -4.992165  4.239459 -0.145859
447441  0.9 -0.2 -0.015965  0.954527 -4.984446  4.206472 -0.145650
448165  0.9  0.2 -0.015965  0.954527 -4.984459  4.206271 -0.145651
484727  0.9  0.2  0.015965  0.954528 -4.984085  4.205453 -0.145651
484003  0.9 -0.2  0.015965  0.954526 -4.983600  4.204416 -0.145652
483822  0.9 -0.3  0.015965  0.954680 -4.871879  3.969797 -0.144826
448346  0.9  0.3 -0.015965  0.954680 -4.871663  3.969001 -0.144827
484908  0.9  0.3  0.015965  0.954682 -4.871192  3.968071 -0.144826
447260  0.9 -0.3 -0.015965  0.954680 -4.870882  3.967414 -0.144828
429522  0.9  0.0 -0.033680  0.942884 -4.342027  3.774447 -0.156734
502646  0.9  0.0  0.033680  0.942881 -4.341659  3.773488 -0.156737
502465  0.9 -0.1  0.033680  0.942901 -4.330123  3.750496 -0.156688
429703  0.9  0.1 -0.033680  0.942901 -4.329869  3.750091 -0.156688
502827  0.9  0.1  0.033680  0.942903 -4.329708  3.749840 -0.156687
429341  0.9 -0.1 -0.033680  0.942903 -4.329724  3.749751 -0.156687

In [40]:
#最頻値の個数と最大の最頻値
display(df_part.mode().count())
display(df_part.mode().iloc[0])

x          1
y          9
z         11
rho      209
div_u    209
Q        209
u        209
dtype: int64

x         0.900000
y        -0.400000
z        -0.145689
rho       0.911908
div_u    -5.012894
Q       -11.332022
u        -0.183082
Name: 0, dtype: float64

In [41]:
#最大・最小値
display(df_part.max())
display(df_part.min())

x        0.900000
y        0.700000
z        0.327884
rho      0.954682
div_u    5.966202
Q        4.283990
u       -0.104510
dtype: float64

x         0.900000
y        -0.700000
z        -0.327884
rho       0.911908
div_u    -5.012894
Q       -11.332022
u        -0.183082
dtype: float64

In [42]:
#rhoの値に関係ない全体での最大・最小値
display(df.max())
display(df.min())

x         36.000000
y         10.000000
z          2.500000
rho        2.355028
div_u    128.947649
Q        706.336615
u          1.246763
dtype: float64

x          0.000000
y        -10.000000
z         -2.500000
rho        0.718014
div_u   -190.826017
Q       -212.737414
u         -0.183082
dtype: float64

In [43]:
import pandas as pd
names=["x","y","z","rho","div_u","Q","u"]
df = pd.read_csv("/Users/isseyshome/Paper/result_analysis/sub_square_All000032.txt",\
                 sep=",",header = None,names=names)
df.head()
df = df.sort_values('rho')

In [45]:
df = df.sort_values('Q',ascending=False)
# df = df.sort_values('div_u',ascending=False)
df.head(10)

          x    y    z       rho       div_u           Q         u
466076  0.1  0.0  0.0  1.027268 -190.826017  706.336615  1.036795
466257  0.1  0.1  0.0  1.022562 -190.486674  700.106831  1.036545
465895  0.1 -0.1  0.0  1.022594 -190.493221  700.097082  1.036555
465714  0.1 -0.2  0.0  1.013275 -189.466993  673.571464  1.038976
466438  0.1  0.2  0.0  1.013313 -189.469013  673.512860  1.038992
466619  0.1  0.3  0.0  0.980456 -185.105699  616.094566  1.042721
465533  0.1 -0.3  0.0  0.980443 -185.101878  616.062861  1.042706
465352  0.1 -0.4  0.0  0.922725 -172.378408  534.410786  1.047373
466800  0.1  0.4  0.0  0.922709 -172.372571  534.397705  1.047370
466981  0.1  0.5  0.0  0.855694 -148.208064  407.508418  1.053265

In [46]:
#rhoが小さくなってNaNの原因になっていそうな箇所を抽出する
# df_part = df.query("rho < 0.3")
# df_part = df.query("Q > 100")
df_part = df.query("u < -0.1")
len(df_part)

209

In [47]:
df_part.head()

          x    y         z       rho     div_u         Q         u
484365  0.9  0.0  0.015965  0.954485 -5.012894  4.283990 -0.145855
447803  0.9  0.0 -0.015965  0.954482 -5.012163  4.281988 -0.145860
447622  0.9 -0.1 -0.015965  0.954461 -4.992692  4.240457 -0.145861
484546  0.9  0.1  0.015965  0.954460 -4.992373  4.240008 -0.145862
447984  0.9  0.1 -0.015965  0.954463 -4.992215  4.239847 -0.145860

In [48]:
#最頻値の個数と最大の最頻値
display(df_part.mode().count())
display(df_part.mode().iloc[0])

x          1
y          9
z         11
rho      209
div_u    209
Q        209
u        209
dtype: int64

x         0.900000
y        -0.400000
z        -0.145689
rho       0.911908
div_u    -5.012894
Q       -11.332022
u        -0.183082
Name: 0, dtype: float64

In [49]:
#最大・最小値
display(df_part.max())
display(df_part.min())

x        0.900000
y        0.700000
z        0.327884
rho      0.954682
div_u    5.966202
Q        4.283990
u       -0.104510
dtype: float64

x         0.900000
y        -0.700000
z        -0.327884
rho       0.911908
div_u    -5.012894
Q       -11.332022
u        -0.183082
dtype: float64

In [50]:
#rhoの値に関係ない全体での最大・最小値
display(df.max())
display(df.min())

x         36.000000
y         10.000000
z          2.500000
rho        2.355028
div_u    128.947649
Q        706.336615
u          1.246763
dtype: float64

x          0.000000
y        -10.000000
z         -2.500000
rho        0.718014
div_u   -190.826017
Q       -212.737414
u         -0.183082
dtype: float64