In [1]:
import pandas as pd
names=["x","y","z","rho","div_u","第二不変量Q"]
df = pd.read_csv("/Users/isseyshome/Downloads/result_omp_1.6/parameter015620_10.txt",\
                 sep=",",header = None,names=names)
# names=["x","y","z","rho","div_u","第二不変量Q","ゴミ"]
# df = pd.read_csv("/Users/isseyshome/Documents/GitHub/Inoue_Lab/3dimensions/result_omp/parameter000095_11.txt",\
#                  sep=",",header = None,names=names)
df.head()

      x     y    z       rho     div_u    第二不変量Q
0  0.00 -10.0  0.5  0.999947  5.009223 -0.000000
1  0.05 -10.0  0.5  0.895456  0.196573 -0.000681
2  0.10 -10.0  0.5  0.929599 -0.220060 -0.003146
3  0.15 -10.0  0.5  0.942237  0.056094 -0.000473
4  0.20 -10.0  0.5  0.950257 -0.088622 -0.001392

In [7]:
df = df.sort_values('rho')
df.head(10)

         x     y    z       rho      div_u    第二不変量Q
34656  0.0 -0.20  0.5  0.028223 -44.957115 -0.494541
34295  0.0 -0.25  0.5  0.046120 -46.631791 -1.040974
31407  0.0 -0.65  0.5  0.080472 -39.971677 -0.877164
31768  0.0 -0.60  0.5  0.161781 -27.884761 -0.603182
42598  0.0  0.90  0.5  0.272654 -20.751344 -0.773871
31046  0.0 -0.70  0.5  0.291950 -16.038390 -1.152550
42237  0.0  0.85  0.5  0.295822 -18.322654  0.823819
37183  0.0  0.15  0.5  0.404763 -11.152224 -0.007641
42959  0.0  0.95  0.5  0.414600 -11.947917 -1.869501
41876  0.0  0.80  0.5  0.441734  -9.225461  0.342927

In [3]:
#rhoが小さくなってNaNの原因になっていそうな箇所を抽出する
df_part = df.query("rho < 0.3")
len(df_part)

7

In [4]:
#最頻値の個数と最大の最頻値
display(df_part.mode().count())
display(df_part.mode().iloc[0])

x         1
y         7
z         1
rho       7
div_u     7
第二不変量Q    7
dtype: int64

x          0.000000
y         -0.700000
z          0.500000
rho        0.028223
div_u    -46.631791
第二不変量Q    -1.152550
Name: 0, dtype: float64

In [5]:
display(df_part.max())
display(df_part.min())

x          0.000000
y          0.900000
z          0.500000
rho        0.295822
div_u    -16.038390
第二不変量Q     0.823819
dtype: float64

x          0.000000
y         -0.700000
z          0.500000
rho        0.028223
div_u    -46.631791
第二不変量Q    -1.152550
dtype: float64

In [6]:
#rhoの値に関係ない全体での最大・最小値
display(df.max())
display(df.min())

x         36.000000
y         10.000000
z          0.500000
rho        1.752460
div_u     10.527409
第二不変量Q    32.607059
dtype: float64

x          0.000000
y        -10.000000
z          0.500000
rho        0.028223
div_u    -46.631791
第二不変量Q   -31.837822
dtype: float64